
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Berikut ini adalah produk yang baru saja anda tambahkan:</h1>
    <p>
      <%= image_tag(Rails.application.routes.url_helpers.url_for(@product.image)) if @product.image.attached? %>
    </p>
    <p>
      <%= @product.name %>
    </p>
    <p>
      <%= @product.price %>
    </p>
    <p>
      <%= @product.category %>
    </p>
    <p>
      <%= @product.is_status %>
    </p>
    <p>Thanks for add your product and have a great day!</p>
  </body>
</html>