
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Berikut ini adalah produk yang baru saja anda tambahkan:</h1>
    <p>
      <%= @product.image_url %>
    </p>
    <p>
      <%= @product.name %>
    </p>
    <p>
      <%= @product.price %>
    </p>
    <p>
      <%= @product.category %>
    </p>
    <p>
      <%= @product.status %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>